@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  font-family: 'Source Sans Pro', Helvetica, sans-serif;
  font-size: 14pt;
  color: #414f57;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('/img/denys-nevozhai-7nrsVjvALnA-unsplash.jpg') no-repeat center center
      fixed;
  background-size: cover;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

h1 {
  font: inherit;
  font-size: 1.85em;
  letter-spacing: 0.22em;
  margin: 0 0 0.525em 0;
  color: #313f47;
  line-height: 1.5;
}

a {
  transition: color 0.2s ease, border-color 0.2s ease;
}

p {
  margin: 0 0 1.5em 0;
}

.text-center {
  text-align: center;
}

.wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

header {
  display: block;
  padding-top: 0.5em;
}

.main {
  padding: 3em 3em 3em 3em;
  width: 27em;
  height: 32em;
  background-color: #fff;
  border-radius: 5px;
  text-align: center;
}

.main .avatar {
  position: relative;
  display: block;
  margin-bottom: 1.5rem;
}

.main .avatar img {
  width: 8em;
  display: block;
  margin: 0 auto;
  border-radius: 100%;
}

ul.icons {
  cursor: default;
  list-style: none;
  padding-left: 0;
  margin-top: -0.675em;
}

ul.icons li {
  display: inline-block;
  padding: 0.675em 0.5em;
}

.icons i {
  transition: color 0.2s ease, border-color 0.2s ease;
  color: #222222;
}

.icons i:hover {
  color: #2e76cf;
}

.credit {
  position: absolute;
  bottom: 1px;
  right: 1px;
  padding: 5px;
  width: 100%;
  color: #fff;
}

.credit-link {
  color: #fff;
}

.credit-link:hover {
  color: #0366d6;
}

@media (max-width: 575px) {
  .wrapper {
    height: 46em;
  }
  .main {
    height: 44em;
  }
  .credit {
    display: none;
  }
}
